
Football_Scores/.idea/.name

Football_Scores/.idea/.name

Football_Scores/.idea/compiler.xml

Football_Scores/.idea/encodings.xml

Football_Scores/.idea/gradle.xml

Football_Scores/.idea/misc.xml

Football_Scores/.idea/modules.xml

Football_Scores/.idea/runConfigurations.xml

Football_Scores/.idea/vcs.xml

Football_Scores/Football_Scores.iml
